.support_section {
    position: relative;
    z-index: 5;
    line-height: 1.5;
    background-color: none;

    .support_container {
        position: relative;
        width: 100%;
        padding: 1em 0;
        max-width: 90%;
        color: black;
        border-radius: 3px;
        display: grid;
        gap: 30px;
        grid-template-columns: 55% 43%;
        margin: 0 auto;
        background-color: transparent;
        background-color: var(--white);

        h2 {
            font-weight: 500;
            font-size: calc(var(--heading-size) - 5pt) !important;
        }

        @media (max-width: 768px) {
            padding: 1.5em 1.2em;
            box-shadow: unset;
            border-radius: unset;

            h2 {
                text-align: start;
                font-size: 18px;
            }
        }

        @media (max-width: 900px) {
            width: 100%;
            max-width: 100%;
            gap: 5px;
            grid-template-columns: 1fr;
        }
    }

    .support_text_holder {
        position: relative;
        background-color: var(--white);
        border-radius: 0px;
        // padding: 2em 1em;
        display: flex;
        gap: unset !important;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        h2 {
            text-align: start;
            font-size: 30px;
            color: var(--primary-color) !important;
            font-weight: 800;
            text-transform: uppercase;

            @media (max-width: 900px) {
                font-size: 20px;
            }
        }

        p {
            font-size: 14px;
        }

        // @media (max-width: 900px) {
        //     padding: 2em 0;
        // }
    }

    .support_form {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 2em 0;
        border-radius: 2px;
        background-color: var(--white);

        .grouped_data {
            width: 100%;

            .input,
            textarea,
            select {
                width: 100% !important;
                padding: 1em;


                &::placeholder {
                    color: #111232 !important;
                    opacity: 0.5;
                    font-weight: 400;
                }
            }

            textarea {
                width: 100%;
                min-height: 150px;

            }

            select {
                font-weight: 500 !important;
            }
        }

        .support_button {
            button {
                width: 100%;
                color: var(--white) !important;
                background-color: var(--secondary-color) !important;
                border: var(--secondary-color) !important;


                &:hover {
                    -o-font-smoothing: antialiased;
                    text-rendering: optimizeSpeed;
                    -moz-font-smoothing: antialiased;
                }
            }
        }

        @media (max-width: 768px) {
            display: flex !important;
            flex-direction: column !important;

            button {
                width: 100% !important;
            }
        }
    }
}
