.auth_section {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-color: #ffffff;

    @media (max-width: 700px) {
        background-color: #ffffff;
    }

    .auth_container {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 60% 40%;

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
        }

        .auth_grid_column {
            width: 100%;
            max-width: 100% !important;
            border-radius: 2px;
            padding: 1em;
            line-height: 1.5;
            margin: 0 auto;

            h1 {
                font-size: 30pt;

                span {
                    color: var(--secondary-color) !important;
                }
            }

            p {
                font-size: 15px;

                span {
                    color: var(--primary-color);
                }
            }

            a {
                text-decoration: underline !important;
            }

            &:nth-child(1) {
                display: flex;
                gap: 20px;
                padding: 1em 2em;
                flex-direction: column;
                justify-content: center;
                color: #ffffff !important;
                border-radius: 0;
                background-color: var(--primary-color);
                background-image: url("../../public/rocket1.avif");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;

                @media (max-width: 800px) {
                    display: none;
                }
            }

            &:nth-child(2) {
                padding: 4em 2em;
                overflow-y: scroll;

                h1 {
                    font-size: 20pt;
                }

                .auth_form {
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    flex-direction: column;

                    input {
                        width: 100%;
                        border-radius: 7px !important;
                        background-color: #f3f6f85d;
                        font-weight: 400;
                    }

                    button {
                        width: 100%;
                        padding: 1em 2em !important;
                        color: var(--white) !important;
                        border-radius: 7px !important;
                        border: var(--primary-color) !important;
                        background-color: var(--primary-color) !important;
                    }

                    .auth_options {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        a {
                            color: var(--primary-color) !important;
                        }
                    }
                }

                @media (max-width: 800px) {
                    max-width: 100% !important;
                }
            }

            @media (max-width: 700px) {
                padding: 2em 1em !important;
                box-shadow: unset !important;
                min-width: unset;
            }
        }

        @media (max-width: 900px) {

            border-radius: 5px;
        }

        @media (max-width: 700px) {
            padding: 0;
        }
    }

    @media (max-width: 900px) {
        padding: 0 !important;
    }
}

.another_login_option {
    position: relative;
    opacity: .2;
    padding: 2em 0 !important;

    h2 {
        font-weight: 600 !important;
    }
}


.social_media_login_option {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;

    button {
        width: 100%;
        border: unset;
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 10px !important;
        color: white !important;
        border-radius: 7px !important;
        box-shadow: none !important;
        transition: all 0.2s ease-in-out !important;
    }

    #google {
        color: #000 !important;
        border-radius: 6px !important;
        border: 1px solid #a39c9c3f !important;
        background-color: transparent !important;

        &:hover {
            color: #ffffff !important;
            background-color: #4F86EC !important;
        }
    }
}


.auth_error_logs {
    width: 100%;
    padding: 1em;
    border-radius: 7px;
    font-weight: 500;
    color: #ffffff !important;
    background-color: rgb(244, 71, 40) !important;
}
