.hero_container {
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.3;
    padding: 70px 0 100px 0;

    .hero_section_cto {
        position: relative;
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: 1.6fr 400px;
        justify-content: flex-start;
        color: var(--primary-color);

        .hero_text {
            position: relative;
            display: flex;
            gap: 20px;
            line-height: 1.5;
            flex-direction: column;

            .cto_text {
                width: auto;

                h1 {
                    text-transform: capitalize;
                    font-size: var(--heading-size);
                    line-height: 1.3 !important;
                }
            }

            .cto_desc {
                width: auto;
                font-size: 16px;
                opacity: .95;
            }

            .cto_action {
                position: relative;
                width: auto;
                gap: 20px;

                form {
                    .join_waitlist {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr .5fr;
                        padding: .4em .2em;
                        background-color: white;
                        border-radius: 3px;
                        box-shadow: 0 5px 20px 0 rgba(37, 85, 152, 0.15);

                        input {
                            border: none;
                            outline: none;
                            padding: 17px 1em 17px 33px;
                            border-radius: 1px;
                        }

                        button {
                            color: white !important;
                            border: var(--secondary-color) !important;
                        }
                    }

                    li {
                        margin: 1em 0;
                    }
                }

                @media (max-width: 1000px) {
                    gap: 15px;
                }

                @media (max-width: 768px) {
                    gap: 10px;
                    flex-direction: column;
                }
            }
        }

        @media (max-width: 1000px) {
            grid-template-columns: 1fr;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }


    .hero_image_illustration {
        position: relative;

        img {
            width: 100% !important;
            max-width: 100% !important;
            object-fit: cover !important;
        }

        .floating_banner {
            position: absolute;
            bottom: 11%;
            left: -15%;
            width: 100%;
            padding: .5em 1em;
            border-radius: 3px;
            text-align: center;
            color: var(--primary-color);
            border: 1px solid rgba(72, 79, 88, 0.087);
            background-color: rgb(255, 255, 255);
            box-shadow: 0 3px 1px 0 rgba(37, 85, 152, 0.5);

            @media (max-width: 1000px) {
                display: none !important;
            }
        }

        @media (max-width: 1000px) {
            display: block; // Display To None Later
        }
    }

    @media (max-width: 1000px) {
        padding: 50px 0 150px 0;
    }

    @media (max-width: 768px) {
        padding: 20px 0 50px 0;
    }
}
