.hero_container {
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.3;
    padding: 70px 0 100px 0;

    .hero_section_cto {
        position: relative;
        width: 100%;
        display: grid;
        gap: 10%;
        grid-template-columns: 1.6fr 1fr;
        align-items: center;
        justify-content: flex-start;
        color: var(--primary-color);

        .hero_text {
            display: flex;
            gap: 20px;
            line-height: 1.5;
            flex-direction: column;

            .cto_text {
                width: auto;

                h1 {
                    text-transform: capitalize;
                    font-size: var(--heading-size);
                }
            }

            .cto_desc {
                width: auto;
                opacity: .95;
            }

            .cto_action {
                width: auto;
                // display: flex;
                gap: 20px;

                form {
                    .join_waitlist {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr .5fr;
                        padding: .4em .2em;
                        border-radius: 3px;
                        background-color: white;
                        box-shadow: 0 5px 15px 0 rgba(37, 85, 152, 0.15);

                        input {
                            border: none;
                            outline: none;
                        }

                        button {
                            color: white !important;
                        }
                    }

                    li {
                        margin: .5em .2em;
                    }
                }

                button {
                    width: 100%;
                }

                @media (max-width: 1000px) {
                    gap: 15px;
                }

                @media (max-width: 768px) {
                    gap: 10px;
                    flex-direction: column;
                }
            }
        }

        @media (max-width: 1000px) {
            grid-template-columns: 1fr;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    .hero_image_illustration {
        position: relative;
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;

        // background: url("../../public/three.png");
        // background-repeat: no-repeat;
        // background-size: 100px, 100px, cover;
        // background-position: top right;

        img {
            position: relative;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            height: 80%;
            max-height: 80%;
            min-height: 80%;
            object-fit: cover;
        }

        @media (max-width: 1000px) {
            display: none;
        }
    }

    @media (max-width: 1000px) {
        padding: 50px 0 150px 0;
    }

    @media (max-width: 768px) {
        padding: 20px 0 50px 0;
    }
}
