#nav {
    width: 100%;
    max-width: 100%;
    color: var(--secondary-color) !important;
    font-family: 'Source Sans 3', sans-serif;

    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background-color: #fff !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 99999999999999;
}

#nav__scroll__drop {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background-color: #fff !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 99999999999999;
}

.container {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #c3f7ff03;
}

.navbar_container {
    display: flex;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    background-color: transparent;
}

#mobile_logo_appear {
    display: none;

    @media (max-width: 768px) {
        display: block;
        margin-left: -10px;
    }
}

.left_items {
    gap: 10%;
    display: flex;
    width: 100%;
    align-items: center;

    .logo {
        color: var(--primary-color) !important;
        font-size: 25px;
        font-weight: 800;
        cursor: pointer;
        object-fit: cover;
        display: flex;
        align-items: center;

        a {
            color: var(--primary-color) !important;
            display: flex;
            align-items: center;

            img {
                margin-left: -15px;
                width: 150px;
                height: auto;
                object-fit: cover;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    #active {
        font-weight: 600 !important;
        color: red !important;
    }

    .list {

        ul {
            display: flex;
            align-items: center;
            gap: 3em;

            li {
                color: var(--primary-color) !important;
                font-weight: 500;
                font-size: calc(var(--title-size) - 2pt);
                cursor: pointer;
                opacity: 0.9;
                text-decoration: none;
                transition: all 1s ease-in-out;

                &:hover {
                    opacity: 1;
                }

                &:active {
                    opacity: 1;
                }
            }
        }

        @media (max-width: 768px) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.626);
            height: 100vh;
            width: 100%;
            z-index: 999999 !important;

            ul {
                height: auto;
                width: 100%;
                display: block;
                z-index: 99999999;
                padding: 1em 2em;
                border-radius: 0 0 8px 8px;
                background-color: rgb(255, 255, 255);
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                li {
                    margin: 1em 0;
                    border-bottom: 1px solid rgba(226, 223, 223, 0.299);
                }
            }
        }
    }

    @media (max-width: 1000px) {
        justify-content: space-between;
        gap: 0 !important;
    }
}

@media (max-width: 768px) {
    .toggle_off {
        display: none !important;
        background-color: green !important;
    }
}

.right_items {
    display: flex;
    align-items: center;

    #transparent {
        background-color: transparent !important;
        color: var(--primary-color) !important;
        box-shadow: none !important;
        border-color: var(--primary-color) !important;
    }

    #primary {
        margin-left: 1em;
        color: var(--white) !important;
        background-color: var(--primary-color) !important;
        border-color: var(--primary-color) !important;
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.btn {
    width: auto;

    &:hover {
        -o-font-smoothing: antialiased;
        text-rendering: optimizeSpeed;
        -moz-font-smoothing: antialiased;
    }
}

.hivee_hamburger {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: relative;
        z-index: 999999999999;
    }
}
