// EVENT TABLE

#table {
    width: 100%;
    max-width: calc(100vw - 280px);
    overflow-x: auto !important;

    @media (max-width: 800px) {
        max-width: calc(100vw - 2em);
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto !important;
    white-space: nowrap;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.table td {
    hyphens: none;
    overflow-wrap: break-spaces !important;
    word-break: keep-all !important;
    break-inside: auto;
    color: var(--black) !important;
}

th {
    color: black !important;
    overflow-x: auto;
    background-color: #e7e6e649;
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: 500;
}

th,
td {
    text-align: left;
    padding: 1.5em 1em;
    break-inside: auto;
}

td {


    a {
        display: flex;
        gap: 0.5em;
        align-items: center;
        color: #0f2a98 !important;
    }
}

tr:nth-child(even) {
    break-inside: auto;
}

tr {
    border: 2px solid transparent !important;

    &:hover {
        border-inline: 2px solid var(--secondary-color) !important;
        background: #f6fdfe;
    }
}

table caption {
    padding: .5em 0;
}

.all_selector {
    display: flex;
}

.invoice_value {

    li {
        opacity: .6;
        color: #333;
    }
}

td,
th {

    &:nth-child(1),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
        text-align: center !important;
    }
}

@media screen and (max-width: 767px) {
    table caption {
        display: none;
    }
}
