.feature_section {
    width: 100%;
    color: #fff;
    background-color: #ffffff;

    .feature_container {
        position: relative;
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        line-height: 1.3;
        background-color: transparent;
        padding: 50px 0;
        color: var(--primary-color);

        .feature_title_grid_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10%;
            line-height: 1.5;
            align-items: flex-start;
            justify-content: space-between;

            h1 {
                font-size: calc(var(--heading-size) - 1pt);
                line-height: 1.2;
                text-transform: capitalize;
            }

            li {
                font-size: calc(var(--description-size));
            }

            p {
                font-size: calc(var(--description-size) - 1pt);
                opacity: .8;

                @media (max-width: 768px) {
                    font-size: calc(var(--description-size) - 2pt);
                }
            }

            @media(max-width:768px) {
                grid-template-columns: 1fr;
            }
        }
    }
}


.our_features_vision_container {
    width: 100%;
    background-color: white;

    .our_features_vision_grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        line-height: 1.5;
        align-items: flex-start;
        justify-content: space-between;

        .feature_content {
            width: 100%;
            display: flex;
            gap: 20px;
            line-height: 1.5;
            padding: 2em 1em;
            border-radius: 4px;
            box-shadow: rgba(28, 28, 28, 0.063) -4px 9px 25px -6px;
            transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            h4 {
                font-size: 20px;
                padding-bottom: .5em;
                font-size: calc(var(--title-size));
            }

            li {
                opacity: .7;
                font-size: calc(var(--description-size) - 2pt);

                @media (max-width: 768px) {
                    font-size: calc(var(--description-size) - 4pt);
                }
            }

            &:hover {
                scale: 1.01;
            }

            .feature_icon {
                color: #4AC3C6 !important;
            }

            @media(max-width:768px) {
                gap: 10px;
                flex-direction: column;
            }
        }

        @media(max-width:768px) {
            grid-template-columns: 1fr;
        }
    }
}
