.feature_section {
    width: 100%;
    color: #fff;
    background-color: #ffffff;


    .feature_container {
        position: relative;
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        line-height: 1.3;
        background-color: transparent;
        padding: 50px 0;
        color: var(--primary-color);


        h1 {
            font-size: calc(var(--heading-size));
            margin: .1em 0;
            text-transform: capitalize;
            text-align: center;
        }

        li {
            font-size: calc(var(--description-size));
            text-align: center;
        }

        .feature_identites {
            display: grid;
            gap: 30px;
            margin: 2em 0;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;


            .box {
                display: grid;
                width: 100%;
                padding: 2em;
                height: 400px;
                cursor: pointer;
                border-radius: 4px;
                grid-template-rows: .5fr 1fr;
                transition: all 0.5s ease-in-out;
                backdrop-filter: saturate(180%) blur(10px);
                background-image: linear-gradient(to top, #e8f7f8, #fff);
                box-shadow: rgba(182, 226, 233, 0.02) 0px 1px 3px 0px, rgba(165, 199, 198, 0.522)0px 1px 2px 0px;


                &:hover {
                    background-image: linear-gradient(to bottom, #e8f7f8, #fff);
                }

                &:nth-child(2) {
                    scale: 1.02;
                    -o-font-smoothing: antialiased;
                    text-rendering: optimizeSpeed;
                    -moz-font-smoothing: antialiased;

                    @media (max-width: 768px) {
                        scale: 1 !important;
                    }
                }

                .feature_top_container {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border-bottom: 1px solid rgba(175, 183, 218, 0.192);
                }

                .feature_content {
                    display: flex;
                    gap: 10px;
                    margin-top: 1em;
                    flex-direction: column;
                    text-align: start !important;

                    h4 {
                        font-size: 20px;
                        text-transform: capitalize;
                    }

                    li {
                        font-size: 13px;
                        line-height: 1.5;
                        font-weight: 400;
                        text-align: inherit;
                    }
                }
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }

        @media (max-width: 768px) {
            padding: 30px 0 30px 0;
        }
    }
}
