.footer_layout_container {
    width: 100%;
    margin: 50px 0 0 0;
    padding: 20px 0;
    color: var(--primary-color);
    font-size: 15px;
    z-index: 1 !important;
    background-color: white;
    box-shadow: rgba(20, 21, 94, 0.1) 0px 1px 3px 0px, rgba(20, 21, 94, 0.06) 0px 1px 10px 2px;
    background-image: linear-gradient(to top left, #e4fafb, #fff, #fff, #fff, #fff);

    h2 {
        font-size: 20px;
    }

    .copy_right {
        text-align: center;
        padding: 1em;

        p {
            font-size: 13px;
        }
    }

    @media (max-width: 768px) {
        padding: 5px 0;
    }
}

.logo {
    color: inherit;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    object-fit: cover;
    display: flex;
    align-items: center;

    a {
        color: var(--primary-color) !important;
        display: flex;
        align-items: center;

        img {
            margin-left: -15px;
            width: 150px;
            height: auto;
            object-fit: cover;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.footer_grid_layout {
    display: grid;
    color: var(--primary-color) !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 40px;
    justify-content: flex-start;
    align-items: flex-start;

    p {
        opacity: .91;
        line-height: 1.5;
    }

    .footer_grid_column {
        width: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;

        .column_flex_details {
            display: block;

            .social_link_grid {
                display: flex;
                gap: 10px;

                a {
                    color: var(--primary-color) !important;
                }
            }
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
}

.footer_container {
    max-width: 90%;
    margin: 0 auto;
}

.newsletter_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        color: var(--white) !important;
        padding: 16px !important;
        background-color: var(--secondary-color) !important;
        border: var(--secondary-color) !important;
    }
}
