.dashboard_create_invoice_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dashboard_create_invoice_button {
        font-weight: 500;
        background-color: var(--secondary-color);
        border: 1px solid var(--secondary-color) !important;
    }
}


.dashboard_special_container {
    width: 100%;
    padding: 1.5em 1em;
    line-height: 1.5;
    border: 1px;
    background-color: var(--white);
    border: 1px solid rgba(240, 233, 233, 0.531);
}

.dashboard_invoice_grid {
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.quick_analytic_grid {
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding: 1em;

    .quick_analytic_column {
        .quick_analytic_icon {
            padding: 1em;
            border-radius: 4px;
            background-color: var(--secondary-color-100);
        }

        li {
            font-size: 13px;
            word-wrap: keep-all;
        }
    }
}
