.dashboard_special_container {
    width: 100%;
    padding: 1.5em 1em;
    line-height: 1.5;
    border: 1px;
    background-color: var(--white);
    background-color: rgba(204, 204, 204, 0.12);

    .dashboard_create_invoice_header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dashboard_create_invoice_button {
            font-weight: 500;
            padding: 12px 1em !important;
            color: white !important;
            border-radius: 3px !important;
            background-color: #000000 !important;
            border: 1px solid rgba(51, 51, 51, 0.08) !important;
            box-shadow: rgba(0, 0, 0, 0.01) 0px 2px 4px 0px inset !important;

            @media (max-width: 768px) {
                font-size: 14px !important;
            }
        }
    }

    .dashboard_greeting_text {
        font-size: 20px !important;

        @media (max-width: 768px) {
            font-size: 18px !important;
        }
    }

    .dashboard_title {
        font-size: 18px !important;
        font-weight: 600 !important;

        @media (max-width: 768px) {
            font-size: 15px;
            font-weight: 500 !important;
        }
    }

    .dashboard_invoice_grid {
        display: grid;
        gap: 10px;
        margin-top: 1em;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        .quick_analytic_grid {
            display: grid;
            gap: 15px;
            align-items: center;
            grid-template-columns: auto 1fr;
            padding: 1em;
            background-color: rgba(204, 204, 204, 0.159);
            border-radius: 3px;

            .quick_analytic_column {
                .quick_analytic_icon {
                    padding: 1em 1em;
                    border-radius: 4px;
                    border-radius: 50%;
                    background-color: rgba(198, 204, 204, 0.178);
                    box-shadow: 0 1px 5px 0 rgba(248, 253, 253, 0.095);
                }

                li {
                    font-size: 13px;
                    word-wrap: keep-all;
                }
            }
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 768px) {
        padding: 1em !important;
    }
}
