// SCSS Dashboard Styles
@import "./dashboard/index.scss";
@import "./dashboard/settings.scss";


// Root Variables
:root {
  --black: #181818;
  --white: #ffffff;
  --black-100: #333333;
  --primary-color: #251851;
  --secondary-color: #4ac3c6;
  --secondary-color-100: #c3fdfe;
  --text-color: #14165d;

  --border: 1px solid #ccc;
  --shadow: 0 1px;
  --cream-color: #eee3d9;
  --dark-cream-color: #fed5af;
  --header-color: #F8FBFE;

  --heading-size: 25pt;
  --title-size: 15pt;
  --description-size: 12pt;

  --rav-shadow: 0 5px 15px 0 rgba(37, 85, 152, 0.15);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  white-space: nowrap;
  padding: 0.75em 2em !important;
  border-radius: 3px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  line-height: 1.133;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  box-shadow: var(--rav-shadow) !important;
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--primary-color) !important;
  transition: all 0.2s ease-in;
}

button[data-btn="primary"] {
  color: var(--white) !important;
  background-color: var(--primary-color) !important;
}

button[data-btn="transparent"] {
  color: var(--primary-color) !important;
  background-color: transparent !important;
}

button:hover {
  transform: translateY(2%) !important;
}

button:active {
  box-shadow: 0 5px 15px 0 rgba(37, 85, 152, 0.928);
  transform: translateY(2%) !important;
}

input,
textarea,
select {
  width: 100% !important;
  font-size: 14px;
  font-weight: 400;
  padding: 18px 1em 18px 35px;
  display: block;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  border-radius: 3px;
  color: rgb(53, 61, 66);
  font-family: "Inter", sans-serif;
  border: 1px solid #33333341;
  background-color: transparent !important;
  box-sizing: border-box;


  &::placeholder {
    color: #111232 !important;
    background-color: transparent !important;
    opacity: 0.5;
    font-weight: 400;
  }
}

input:active {
  background-color: transparent !important;
}

input[type=text]:focus {
  background-color: transparent !important;
}

input[type=text] {
  background-image: url('../public/icon/user.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px;
}

input[type=password] {
  background-color: transparent !important;
  background-image: url('../public/icon/key.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px;
}

input[type=email] {
  background-color: transparent !important;
  background-image: url('../public/icon/mail.jpeg');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  padding: 18px 1em;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #333 !important;
}



.dashboard_header {
  width: 100%;
  padding: 1.5em 1em;
  line-height: 1.5;
  border: 1px;
  background-color: var(--white);
  border: 1px solid rgba(240, 233, 233, 0.531);

  p {
    color: #333 !important;
  }
}


.dashboard_special_container {
  width: 100%;
  padding: 1.5em 1em;
  line-height: 1.5;
  border: 1px;
  background-color: var(--white);
  border: 1px solid rgba(240, 233, 233, 0.531);
}
